/* Colours, Fonts, etc. */

:root {
  /* Variables */
  --color-white: #FFFFFF;
  --color-lightgrey: #EAEBEC;
  --color-darkgrey: #D8D8D8;
  --color-darkergrey: #A1A1A1;
  --color-darkestgrey: #4A4A4A;
  --color-blue: #4A90E2;

  /* Defaults */
  font-family: 'Helvetica', Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  background-color: var(--color-white);
  color: var(--color-darkestgrey);
}

.color-white { color: var(--color-white) }
.color-lightgrey { color: var(--color-lightgrey); }
.color-darkgrey { color: var(--color-darkgrey); }
.color-darkergrey { color: var(--color-darkergrey); }
.color-darkestgrey { color: var(--color-darkestgrey); }
.color-blue { color: var(--color-blue); }

b {
  font-weight: 700;
}

/* Background Colours etc. */

.container {
  max-width: 960px;
  margin: 0 auto;
  background-color: var(--color-white);
}

/* Header */

header {
  display: flex;
  align-items: center;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.4);
  background-color: var(--color-white);

  position: fixed;
  z-index: 5;
  height: 64px;
  max-width: inherit;
  margin: 0 auto;
  left: 0;
  right: 0;
}

.header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 24px;
  font-size: 1.2rem;
}

.header-logo img {
  height: 42px;
}

header nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  margin-right: 24px;
}

header .btn {
  color: var(--color-darkergrey);
  margin: 8px;
  transition: all 0.2s ease-in;
}

header .btn:hover {
  color: var(--color-darkestgrey);
  color: black;
}

.header-mobile {
  display: none;
}

@media only screen and (max-width: 960px) {
  .header-desktop {
    display: none;
  }
  .header-tablet {
    display: flex;
  }
}

@media only screen and (max-width: 700px) {
  .header-desktop {
    display: none;
  }
  .header-mobile {
    display: flex;
  }
}

/* Main Content */

.main-container {
  padding-top: 4.5rem; /* To account for fixed header. */
  padding-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.main-container .image, .video {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 28rem;
  overflow: hidden;
}

.image img, video {
  width: 95%;
  border: 3px solid white;
  box-shadow: 0px 2px 4px darkgrey;
}

@media only screen and (max-width: 960px) {
  .video { display: none; } /* Hide video on tablets and mobiles. */
}

.image p, .video p {
  padding: 1rem;
  padding-bottom: 1.5rem;
  font-style: italic;
  text-align: center;
}

/* Main box 1 */
.main-box-1 {
  background-color: var(--color-darkgrey);
  padding: 32px 0 32px 24px;
  display: flex;
  align-items: center;
}

.main-box-1 img {
  width: 60%;
  margin-right: 24px;
}

.main-box-1 .sub-box-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 12rem;
  width: 30%;
}

.sub-box-1 h1 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
}

.sub-box-1 h2 {
  font-weight: 700;
  line-height: 1.5;
}

.sub-box-1 .btn {
  display: flex;
  justify-content: center;
  color: var(--color-white);
  background-color: var(--color-darkestgrey);
  padding: 8px;
}

/* Main box 2 */
.main-box-2 {
  background-color: var(--color-white);
  padding: 32px 0 32px 24px;
}

/* Main box 3 */
.main-box-3 {
 background-color: var(--color-lightgrey);
 padding: 32px 72px;
}

/* Main box 4 */
.main-box-4 {
  background-color: var(--color-white);
  padding: 32px 0 32px 24px;
}

/* Footer */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  font-size: 0.8rem;

  box-shadow: 0px -2px 4px rgba(0,0,0,0.4);
}
